{% extends 'base.html' %}

{% block heading_page %}Change Your Password{% endblock %}
{% block content %}


      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            {% if form.errors %}
              <p class='text-center text-danger'>Something bad happen</p>
            {% endif %}
            <form class="form-signin" method="post" action="{% url 'accounts:password-change' 'accounts:password_change_done' %}">
              {% include 'accounts/snippets/fields.html' with form=form %}
        {% csrf_token %}
        <input type="hidden" name="next" value={{ next }}>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Change Password</button>
              <hr class="my-4">
              <a class="btn btn-lg btn-primary btn-block text-uppercase" href="{% url 'accounts:login' %}">Back to Sign in</a>
            </form>
          </div>
        </div>
      </div>
{% endblock %}
